[init]
	defaultBranch = main
[user]
	name = Takumi Okayasu
	email = t.okayasu@twb.jp
[alias]
	s = status
	ss = status -s
	co = checkout
	br-rename = branch -m
	brd = branch -d
	cob = checkout -b
	adu = add -u
	cmt = commit -m
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}} && git checkout $(git rev-parse --abbrev-ref HEAD); }; f"
[core]
	editor = code --wait
	symlinks = true
	excludesfile = /home/okayasu/.config/git/ignore
[safe]
	directory = /home/okayasu/prog
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[url "https://github.com/"]
	insteadOf = https://github.com/:
